@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;1,100&display=swap');

@layer base {
    body{
        @apply font-[Raleway]
    }
    li {
        @apply p-4;
        @apply cursor-pointer
    }
    button {
        @apply text-white border bg-indigo-500 border-indigo-500
        hover:bg-transparent hover:text-indigo-200 rounded-md
    }
    h1  {
        @apply text-3xl md:text-4xl font-bold
    }
    h2  {
        @apply text-3xl font-bold
    }
    h3{
        @apply text-xl font-bold
    }
    .icon {
        @apply text-2xl cursor-pointer 
    }
}
@layer utilities {
    @variants responsive {
        .masonry-4-col {
            column-count: 4;
            column-gap: 1em;
        }
        .masonry-3-col {
            column-count: 3;
            column-gap: 1em;
        }
        .break-inside {
            break-inside: avoid;
        }
    }
}